<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CARD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>31C039E11DA9F25300EEE979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C039FA1DA9F25300EEE979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31C03A051DA9F25300EEE979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
